<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <!--<script src="cordova.js"></script>-->

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="starter" ng-controller="appController">


<form ng-submit="abc()">

  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Recipient number</span>
      <input type="number" placeholder="Recipient number" ng-model="number">
    </label>
    
    <label class="item item-input item-floating-label">
      <span class="input-label">Your Message</span>
      <input type="text" placeholder="Your Message" ng-model="message">
    </label>

  </div>

  <div class="padding" align="center">
    <button class="item button button-positive col col-40" type="submit">send</button>
  </div>

</form>


<h6 ng-bind="status">dasfsdfdsf</h6>


</body>
</html>
